<html>
	<head>
		<title> Kevin's blog </title>
	</head>
	<body>
		<div>
			<h1><a href="/">Kevin's Blog </a><h1>
		</div>
		<p> ----------- <p></n></n>
		<div>
			<p>Published: 2017-10-20, 09:09 </p>
			<h2><a href="">My first blog </a></h2>
			<p> testing testing testing testing testing </p>

		</div>

		<p> ----------- <p></n></n>
		<div>
			<p>Published: 2017-10-21, 20:12 </p>
			<h2><a href="">My second blog </a></h2>
			<p> testing testing testing testing testing </p>
		</div>

		
	</body>
</html>
